  <!-- ==============================================
    CONTACT
    =============================================== -->
    <section id="contact" class="add-padding border-top-color2">

      <div class="container text-center">

        <div class="row">

          <div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">

            <h1 class="big-text">Contactez moi</h1>

            <p class="lead">La reflexologie s'adresse à tout le monde<br>Les adultes jeunes et moins jeunes</p>

            <p>Les bébés : agir sur le sommeil,soulager les coliques etc.....Les femmes enceintes à partir du 4ème mois de grossesse : soulager le dos,les sciatiques,préparer à l'accouchement etc...Les sportifs : soulager les douleurs musculaires , récupération après un gros effort ,une compétition etc...Les enfants:énurésie,douleurs dentaires etc...Les personnes âgées.

            <p>N'hésitez pas à me contacter pour toute questions, commentaire ou demande de collaboration.</p>

            <p>Pour plus d'informations, <a href="https://fr-fr.facebook.com/Sylvie-Reflexo-1791299271109545/" target="_blank">Visitez mon facebook.</a></p>

          </div>

          <!--=== Contact Form ===-->

          <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="mailto:sylvie.desclosayes@gmail.com" method="post" novalidate>

            <div class="form-group">
              <label class="control-label" for="contact-name">Name</label>
              <div class="controls">
              <input id="contact-name" name="contactName" placeholder="Votre nom" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
              <i class="fa fa-user"></i>
              </div>
            </div><!-- End name input -->

            <div class="form-group">
              <label class="control-label" for="contact-mail">Email</label>
              <div class=" controls">
              <input id="contact-mail" name="email" placeholder="Votre email" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
              <i class="fa fa-envelope"></i>
              </div>
            </div><!-- End email input -->

            <div class="form-group">
              <label class="control-label" for="contact-message">Message</label>
              <div class="controls">
                <textarea id="contact-message" name="comments"  placeholder="Votre message" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
                <i class="fa fa-comment"></i>
              </div>
            </div><!-- End textarea -->

            <p><button name="submit" type="submit" class="btn btn-color2 btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-paper-plane"></i>Envoyez un message</button></p>
            <input type="hidden" name="submitted" id="submitted" value="true" />

          </form><!-- End contact-form -->

        </div>

      </div>

    </section>

    <!-- ==============================================
    FOOTER
    =============================================== -->

    <footer id="main-footer" class="add-padding border-top-color2">

      <div class="container">

        <p><a href="http://korenlc.com" target="_blank">RESEAU SOCIAUX</a></p><br>

        <ul class="social-links text-center">
          <li><a href="https://twitter.com/korenlc" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="https://fr-fr.facebook.com/Sylvie-Reflexo-1791299271109545/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="https://www.linkedin.com/in/korenlesliecohen" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>

        <p class="text-center">&copy; 2018 - Sylvie Desclosayes</p>

      </div>

    </footer>
