<div id="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-sylvie-brand" do %>
    <%= image_tag "logo.png", height: 150 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

      <a href="#presentation">Presentation</a>
      <a href="#reflexologies">Reflexologies</a>
      <a href="#tarif">Tarifs</a>
      <a href="#contact">Contact</a>
    </div>
 </div>
