 <!-- MAIN CONTENT HERE -->
<section class="hero">
  <div class="hero-content">
    <h1>Choose your favourite topic to study</h1>
    <h3>"Watch Videos, read notes and have fun!"</h3>
  </div>
</section>
<div class="sylvie">
  <h1 class="big-text">Qui suis-je ?</h1>
  <div class="wrap">
  <div class="photo" style="background-image: url(<%= image_path 'sylvie.jpg' %>);"> </div>
  <div class="prez">
    <div> <h3>Sylvie Desclosayes</h3>
      <br>
      <br>
      <p>
      Mon premier métier est infirmière .
      J'exerce depuis 25 ans en milieu hospitalier.<br> La douleur,la détresse sont mon lot quotidien. Soulager ces maux est ma priorité.<br> Les moyens à ma disposition sont vastes. La Réflexologie plantaire en est un, et qui plus est très efficace :<br>
      C'est une méthode douce ,facile à mettre en œuvre que je peux proposer aux patients dont je m'occupe à l'hôpital mais aussi en cabinet.<br>
      J'ai découvert la Réflexologie il y a 4 ans. Dès le départ de cette aventure, ce fut comme une évidence : cette méthode allait m'aider à aider les autres. <br>
      Après une formation d'environ 17 mois, j'ai obtenu une une certification validée par la Fédération Française de Réflexologie. Je pratique depuis, avec bonheur, cette discipline qui aide à mieux vivre, en meilleure forme et avec moins de douleur.<br>
      Une grossesse facilité, une douleur diminuée ou totalement soulagée, une sensation de détente profonde, une récupération sportive améliorée... sont autant de résultats obtenus, de personnes satisfaites et heureuses, qui me poussent à poursuivre cette aventure avec et pour vous.
      </p>
    </div>
  </div>
  </div>
</div>
<div class="histoire" style="background-image: url(<%= image_path 'unsplash.jpg' %>);">
  <h1 class="big-text">Un peu d'histoire</h1>

</div>
<div class="reflex">
  <h1 class="big-text">Réflexologies</h1>

</div>

    <div class="container">
      <h1 class="big-text">Témoignages</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Jessica</h3>
                        <small class="post">- Archietect</small>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Pearl</h3>
                        <small class="post">- Engineer </small>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Kellie</h3>
                        <small class="post">- Graphic Designer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

