<div class="banner" style="background: linear-gradient(-225deg, rgba(167,69,129,0.3) 0%, rgba(167,69,129,0.3) 50%), url('<%= image_path 'reflexo.jpg' %>') no-repeat center; background-size: cover;">
  <div class="banner-content">

  </div>
</div>
