<h1>Reflexologies</h1>
<p>La réflexologie est une pratique thérapeutique utilisant le massage. Elle repose sur le précepte que chaque organe, partie du corps ou fonction physiologique correspond à une zone ou à un point sur les mains, les pieds ou les oreilles. Un toucher spécifique sur ces zones permet ainsi de localiser et dissiper les tensions afin de rétablir l’équilibre du corps.
</p>
<body class="grey lighten-2">
  <div class="container">
    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Reflexologie plantaire</span>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>


    <div class="col s12 m7">

      <div class="card horizontal" id="fadedfx">

        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Reflexologie palmaire </span>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
        <div class="card-image">
          <img src="https://unsplash.it/400/300?image=736" class="fadedfx" class="fadedfx">
        </div>
      </div>

    </div>

    <div class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="https://unsplash.it/400/300?image=763" class="fadedfx">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Reflexologie faciale</span>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
