<div id="slider-container" class="blue">
  <div class="menu flex-row">
    <ul>
      <li class="blue-button flex-row" onClick=priceSwitch('blue')>
        Réflexologie plantaire ou palmaire adulte
      </li>
      <li class="yellow-button flex-row" onClick=priceSwitch('yellow')>
        Réflexologie faciale Dien Chan
      </li>
      <li class="coral-button flex-row" onClick=priceSwitch('coral')>
        Massage Ayurvédique visage et crâne
      </li>
      <li class="green-button flex-row" onClick=priceSwitch('green')>
        Massage Dien Chan & Ayuvédique
      </li>
      <li class="purple-button flex-row" onClick=priceSwitch('purple')>
        Réflexologie plantaire et palmaire enfant (- de 12 ans)
      </li>
      <li class="black-button flex-row" onClick=priceSwitch('black')>
        Réflexologie plantaire bébé
      </li>
    </ul>
  </div>
  <div class="show">
    <div class="slide blue-slide flex-column">
      <h4>1 heure</h4>
      <div class="flex-row">
        <span>40</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Stimule les défenses immunitaires</li>
        <li>✔ Rééquilibrage du corps</li>
        <li>✔ Amélioration de la circulation sanguine</li>
      </ul>
    </div>
    <div class="slide yellow-slide flex-column">
      <h4>½ heure</h4>
      <div class="flex-row">
        <span>22</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Soulage les douleurs</li>
        <li>✔ Stimuler les défenses immunitaires</li>
        <li>✔ Action sur les symptôme physiques liées au strees</li>
      </ul>
    </div>
    <div class="slide coral-slide flex-column">
      <h4>½ heure</h4>
      <div class="flex-row">
        <span>22</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Réduit les raideurs articulaires</li>
        <li>✔ Réduit les douleurs neuromusculaires chroniques</li>
        <li>✔ Relaxation</li>
      </ul>
    </div>
    <div class="slide green-slide flex-column">
      <h4>1 heure</h4>
      <div class="flex-row">
        <span>40</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Soulage les douleurs</li>
        <li>✔ Réduit les douleurs neuromusculaires chroniques</li>
        <li>✔ Stimuler les défenses immunitaires</li>
      </ul>
    </div>
    <div class="slide purple-slide flex-column">
      <h4>½ heure </h4>
      <div class="flex-row">
        <span>20</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Stimule les défenses immunitaires</li>
        <li>✔ Rééquilibrage du corps</li>
        <li>✔ Soulage les douleurs</li>
      </ul>
    </div>
    <div class="slide black-slide flex-column">
      <h4>¼ heure</h4>
      <div class="flex-row">
        <span>40</span>
        <span class='euro'>€</span>
      </div>
      <h4>Bienfaits</h4>
      <ul>
        <li>✔ Stimuler les défenses immunitaires</li>
        <li>✔ Rééquilibrage du corps</li>
        <li>✔ Soulage les douleurs</li>
      </ul>
    </div>
  </div>
</div>
