.fadedfx {
  background-color: #fe5652;
  visibility: hidden;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
.container{background:white;}
.articles{
  display:flex;
  overflow:hidden;
  flex-wrap:wrap;
  align-items:stretch;
}
.articleShort{
  display:flex;
  //flex: 0 1 50%; //controll the width, default 1 1 0%
  flex:1 1 0%; //really buggy in safari IOS

}
.articleMain{
  display:flex;
  flex: 1 1 100%; //controll the width, default 1 1 0%
}
.card{
 display:flex;
  align-items: center;
  overflow:hidden;
  background-color:white;
  //padding:15px;
  margin: 15px;
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;

    .card-content{
      display:flex;
      flex-direction:column;
      align-items:flex-start;
       flex: 1 1 auto;

      h3,p{
        max-width: calc(100% - 30px);
        padding-left:30px;
      }
  }
  .card-image{
    min-width:262px;
    a{
    img{
      //min-width:162px;
  display: block;
 max-width: 100%;
 height: auto;

    }
  }
  }

}

@media screen and (max-width: 992px) {
.articleShort{
  flex:1 1 100%;
  }
}
@media screen and (max-width: 480px) {
  .card{flex-direction:column;
  .card-content{
    h3,p{text-align:center;
    }
    }
    .card-image{

      img{

      }
    }
  }
}
